.cabecera {
    background: #191919;
    
}

.logo{
    width: 100px;
}

.menu-link {
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    margin: 10px;
}

.menu-link:hover {
    color: #921919;
}

