.contacto{
    background: #4d648d;
}

.contacto form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2em;
}

.contacto .subtitulo{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1em 0 0 1em;
}
