.contacto{
    background: #4d648d;
}

.contacto form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.contacto .subtitulo{
    text-align: center;
    padding: 1em 0 0 1em;
}

.contacto input{
    text-transform: uppercase;
    padding: 15px 30px;
    margin: 10px 5px;
}

.enviar {
    background: #3498DB;
    color: #ffffff;
}
