.cursos{
	background: #1e1f26;
	overflow: hidden;
}

.cursos .subtitulo{
	padding: 1em 0 0 0;
}

.cursos__lista a{
	color: #ffffff;
	text-align: center;
	display: flex;
	flex-direction: column;
	padding: 2rem;
	width: 25%;
	height: 25%;
}

.curso__parte{
	cursor: pointer;
	transition:all .5s;
}

.curso__parte:hover {
	filter: grayscale(100%);
	border: #ffffff solid;
}	

.experiencia{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.experiencia .a{
	color: #ffffff;
}

