.cabecera .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-lista{
    display: flex;
    margin: 0 0 0 10px;
}

.sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0%;
}

.cursos__lista{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.experiencia{
    display: flex;
    flex-direction: column;
    align-items: center;
}


